<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <title>siskin's site</title>
  
  <link rel="stylesheet" href="style.css">
  
</head>
<body>

  <div class="container">

    <header id="door">
        <a href="file:///C:/Elice/introduce.html">
            <img src="file:///C:/Elice/images/neutrient.png" alt="대문로고">
        </a>
    </header>



    <footer id="footer">

        <div class="copyright">
            <p>Copyright © 2020 Neutrient Studio. All rights reserved.</p>
        </div>

        <div class="address">
            <p>우리은하 태양계 3행성 지구 아시아 대한민국</p>
        </div>

    </footer>

  </div>

</body>
</html>
