<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <title>siskin's site</title>
    
    <link rel="stylesheet" href="style.css">
  
</head>
<body>

    <div class="container">

        <header id="intro">
            
            <a href="file:///C:/Elice/introduce.html">
                <img src="file:///C:/Elice/images/logo.png" alt="로고"> Neutrient Studio
            </a>

            <nav>
                <ul>
                    <li class="one"><a href="file:///C:/Elice/introduce.html">영양제 소개</a></li>
                    <li class="two"><a href="file:///C:/Elice/staff.html">제작진</a></li>
                    <li class="three"><a href="#">작품</a></li>
                </ul>
            </nav>

        </header>


        <main role="main" id="main">
        
            <article class="text">
                
                <p>소설계에 양판소가 있다면<br>
                    영화계엔 양판영화가 있다!<br><br>
                    영화양판제작소 드디어 출범!</p>
                    
                <p>시청자와의 인터렉션을 통해 기획부터 제작 상영까지 하는<br>
                    시청자를 위한, 시청자에 의한, 시청자의 [양산형]영화!</p>
                    
                <p>영화를 좋아하십니까?<br>
                    그럼 시청하십시오!</p>
                <p>어디서?</p>
                <p>여기서!<a href="http://bj.afreecatv.com/ourmus" target="_blank">http://bj.afreecatv.com/ourmus</a></p>
                <p>시간: 토, 일요일 저녁 10시 ~ 자정</p>
                <p>당신도 이제 영화 제작자!<br>
                    허리업! <br>시간이 없다!</p>
                
                <img src="file:///C:/Elice/images/iwantyou.png" alt="I want you!">
                <p>빰빠밤~~~~
                    빰!</p> 
                     
            </article>

        </main>

        <footer id="footer">

            <div class="copyright">
                <p>Copyright © 2020 Neutrient Studio. All rights reserved.</p>
            </div>

            <div class="address">
                <p>우리은하 태양계 3행성 지구 아시아 대한민국</p>
            </div>

        </footer>


     </div>    

</body>
</html>
