<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <title>siskin's site</title>
  
  <link rel="stylesheet" href="style.css">
  
</head>
<body>

  <div class="container">

    <header>
        <h1>when I look in your eyes and she's looking back in yours.</h1>
        <h1>Everything feels not quite normal, because I feel stronger and weaker at the same time.</h1>
        <h1>I feel excited and at the same time, terrified.</h1>
        <h1>The truth is, I don't know what you feel except I know what kind of man I want to be.</h1>
        <h1>It's as if I've reached the unreachable and I wasn't ready for it.</h1>
    </header>



    <footer id="footer">

        <div class="copyright">
            <p>Copyright © 2020 Neutrient Studio. All rights reserved.</p>
        </div>

        <div class="address">
            <p>우리은하 태양계 3행성 지구 아시아 대한민국</p>
        </div>

    </footer>

  </div>

</body>
</html>







